<template>
  <v-menu>
    <v-btn slot="activator" class="mr-0" small outline>John Citizen</v-btn>
    <v-list dense>
      <router-link :to="{ name: 'signOut' }">
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>Sign Out</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon color="primary">power_settings_new</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </router-link>
    </v-list>
  </v-menu>
</template>

<script>
export default {
}
</script>

<style scoped>
a {
  text-decoration: none;
}

a div:hover {
  background-color: #d8e7ff;
}

a.router-link-active div  {
  background-color: #b8d2fc;
}
</style>
