<template>
  <v-snackbar v-model="show" :color="color">{{ message }}</v-snackbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      color: state => state.snackbar.toast.color,
      message: state => state.snackbar.toast.message
    }),

    show: {
      get: function () {
        return this.$store.state.snackbar.toast.show
      },
      set: function (val) {
        if (!val) {
          this.$store.dispatch('snackbar/clear')
        }
      }
    }
  }
}
</script>
