<template>
  <v-flex>
    <div class="title pa-3">Devices</div>

    <v-data-table
      v-if="devices"
      :headers="headers"
      :items="devicse"
      hide-actions
      must-sort
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.attr1 }}</td>
        <td>{{ props.item.attr2 }}</td>
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    headers: [
      { text: 'Attribute 1', value: 'attr1' },
      { text: 'Attribute 2', value: 'attr2' }
    ],
    devices: [
      {
        attr1: 'Attribute 1 Value',
        attr2: 'Attribute 2 Value'
      }
    ]
  })
}
</script>
