<template>
  <v-toolbar
    :clipped-left="$vuetify.breakpoint.mdAndUp"
    color="primary"
    height="60"
    flat
    dark
    fixed
    app
  >
    <v-toolbar-title class="ma-0">
      <vv-toolbar-side-icon @toggle-drawer="toggleDrawer" />
      <router-link :to="{ name: 'dashboard' }">
        <span v-if="$vuetify.breakpoint.mdAndUp">Admin</span>
      </router-link>
    </v-toolbar-title>

    <v-spacer />

    <vv-auth-menu />
  </v-toolbar>
</template>

<script>
import vvToolbarSideIcon from '@/layouts/components/ToolbarSideIcon'
import vvAuthMenu from '@/layouts/components/AuthMenu'

export default {
  components: {
    vvToolbarSideIcon,
    vvAuthMenu
  },

  methods: {
    toggleDrawer () {
      this.$store.dispatch('home/toggleDrawer')
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
  color: white;
}
</style>
