<template>
  <v-list>
    <router-link v-for="menuItem in menuItems" :key="menuItem.route" :to="{ name: menuItem.route }">
      <v-list-tile>
        <v-list-tile-action>
          <v-icon color="primary">{{ menuItem.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ menuItem.displayName }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </router-link>
  </v-list>
</template>

<script>
export default {
  data: () => ({
    menuItems: [
      { route: 'dashboard', displayName: 'Dashboard', icon: 'dashboard' }
    ]
  })
}
</script>

<style scoped>
a {
  text-decoration: none;
}

a div:hover {
  background-color: #d8e7ff;
}

a.router-link-active div  {
  background-color: #b8d2fc;
}
</style>
