<template>
  <v-navigation-drawer
    :clipped="$vuetify.breakpoint.mdAndUp"
    v-model="drawer"
    mobile-break-point="960"
    fixed
    app
  >
    <vv-home-menu />
  </v-navigation-drawer>
</template>

<script>
import vvHomeMenu from './HomeMenu'

export default {
  components: {
    vvHomeMenu
  },

  created () {
    this.$store.dispatch('home/setDrawer', this.$vuetify.breakpoint.mdAndUp)
  },

  computed: {
    drawer: {
      get: function () {
        return this.$store.state.home.drawer
      },
      set: function (val) {
        this.$store.dispatch('home/setDrawer', val)
      }
    }
  }
}
</script>
