<template>
  <v-app>
    <vv-snackbar />

    <vv-home-toolbar />

    <vv-home-navigation-drawer />

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import vvSnackbar from '@/layouts/components/Snackbar'
import vvHomeToolbar from './components/HomeToolbar'
import vvHomeNavigationDrawer from './components/HomeNavigationDrawer'

export default {
  components: {
    vvSnackbar,
    vvHomeToolbar,
    vvHomeNavigationDrawer
  }
}
</script>
